{
    "presets": ["next/babel"],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        [
            "module-resolver",
            {
                "alias": {
                    "@api": "./src/api",
                    "@components": "./src/components",
                    "@layout": "./src/layout",
                    "@lib": "./src/lib",
                    "@models": "./src/models",
                    "@stores": "./src/stores"
                }
            }
        ]
    ]
}
